body {
    color: white;
    background-image: url("../assets/images/galaxy.jpg");
    background-size: cover;
    background-position: center;
}

.hidden {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

#error, #error2 {
  color: red;
}